* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  @media (max-width: 1200px) {
    font-size: 56%;
  }
  @media (max-width: 944px) {
    font-size: 48%;
  }
  @media (max-width: 700px) {
    font-size: 43%;
  }
  @media (max-width: 364px) {
    font-size: 30%;
  }
}
body {
  font-family: poppins;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  overflow-x: hidden;
}
#hero-section {
  max-width: 192rem;
  background-image: url(/Rectangle\ 312.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  padding-bottom: 4rem;
  z-index: -1;
  /* height: 90rem; */
}
.bg-logo {
  position: absolute;
  @media (max-width: 570px) {
    display: none;
  }
}
.header {
  display: flex;
  align-items: center;
  /* gap: 50rem; */
  padding: 1rem 2.4rem;
  justify-content: space-between;
  position: relative;
  z-index: 99999999;
}
.logo {
  margin-left: 1rem;
  position: sticky;
  z-index: 0;
}
.main-nav-list {
  display: flex;
  align-items: center;
  /* gap: 4.8rem; */
  list-style: none;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 3rem;
}
.outline {
  margin-left: 3.6rem;
  border: 1px solid #fff;
  border-radius: 9px;
  padding: 1rem 2rem;
}
.fill {
  border: 1px solid #fff;
  border-radius: 9px;
  padding: 1rem 2rem;
  background-color: #5398ff;
}

/* for mobile navigation */

.btn-mob-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mob-nav {
  height: 48px;
  width: 48px;
  color: #ffffff;
}
.icon-mob-nav---close {
  display: none;
}
/* *************************** */
@media (max-width: 970px) {
  .btn-mob-nav {
    display: block;
  }
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.97);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    transform: translateX(100%);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mob-nav---close {
    display: block;
    z-index: 33333333;
  }
  .nav-open .icon-mob-nav---open {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .link:link,
  .link:visited {
    font-size: 3rem;
    color: #3d4461;
  }
  .icon-mob-nav {
    color: #5398ff;
  }
}
/* ************************************* */

.hero-content {
  display: flex;
  flex-direction: column;
  margin: 13rem auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.noto {
  display: none;
}

.headlines {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 80px;
  color: #ffffff;
  /* margin: -2rem auto 0; */
  @media (max-width: 980px) {
    font-size: 4.2rem;
    line-height: 60px;
  }
  @media (max-width: 703px) {
    font-size: 4rem;
    line-height: 50px;
  }
  @media (max-width: 570px) {
    font-size: 2.4rem;
    line-height: 40px;
  }
}
.edit {
  margin: 2rem auto;
  text-align: center;
}
.intro {
  font-size: 2.6rem;
  font-weight: 500;
  margin: 2rem auto 4rem;
  line-height: 5rem;
  @media (max-width: 980px) {
    font-size: 2.2rem;
  }
  @media (max-width: 570px) {
    font-size: 1.5rem;
  }
}
.buttons {
  display: flex;
  gap: 2rem;
}
.btn {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}
.pet-lover {
  padding: 1.3rem 2.4rem;
  background-color: #ff5851;
  border-radius: 9px;
}
.services {
  padding: 1.3rem 2.4rem;
  border-radius: 9px;
  background-color: #5398ff;
}
.icon {
  height: 30px;

  display: none;

  @media (max-width: 970px) {
    display: block;
  }
}

.container-fluid {
  /* display: flex;
  justify-content: center; */
  overflow-x: auto;
  white-space: nowrap; /* Prevents cards from wrapping to a new line */
  margin: -16rem auto 16rem auto; /* Maintain the negative margin */
}

.container-fluid::-webkit-scrollbar {
  display: none;
}

.review-container-fluid {
  overflow-x: auto;
  /* white-space: nowrap; */
}

.review-container-fluid::-webkit-scrollbar {
  display: none;
}

.cards {
  max-width: 192rem;
  display: inline-flex; /* Use inline-flex to ensure cards stay in a row */
  gap: 1rem;
  padding: 2rem;
}

.card1 {
  min-width: 28rem;
  height: 31.5rem;
  background-color: #5398ff;
  padding: 4rem 2rem;
  border-radius: 13px;
  box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #5398ff;
  cursor: pointer;
}

.cutom-w {
  color: #fff;
  font-weight: 500;
  font-size: 2.2rem;
  margin-top: 2rem;
}
.cutom {
  color: #3d4461;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.scroll-icons{
  display: flex;
  justify-content: flex-end;
  margin: -14rem auto -7rem auto; /* Maintain the negative margin  1186px yad sata*/


  @media (min-width: 1186px) {
    display: none;
  }
}



.card-btn {
  border: 1px solid #ffffff;
  font-size: 1.2rem;
  padding: 1rem;
  color: #ffffff;
  text-decoration: none;
  /* margin-top: 4rem; */
  border-radius: 9px;
}
.cutomize {
  background-color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
}
.cutomize .p-blu {
  color: #5398ff;
  font-weight: 500;
  margin-top: 2rem;
}
.cutomize .p-blk {
  color: #3d4461;
  font-weight: 700;
  margin-bottom: 10rem;
  margin-top: 1rem;

  @media (max-width: 991px) {
    margin-bottom: 5rem;
  }

}
.cutomize .change {
  color: #ff5851;
  font-size: 1.6rem;
}
.fill-blk {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5rem;
  background-color: #3d4461;
}

.headlines-rad {
  margin: 10rem;
  background-color: #5398ff69;
  border-radius: 9px;
  margin-top: 1.2rem;
  /* text-align: center; */
}
/* ************************************ */
/* serviecses */
/* ************************************* */
.services-section {
  background-color: #ffffff;
}
.services-section .heading-secondary {
  text-align: center;
}
.services-contaner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ffff; */
  position: relative;
}
.services-img {
  margin-bottom: 1.8rem;
  @media (max-width: 944px) {
    /* width: 80%; */
    width: 650px;
  }
  @media (max-width: 650px) {
    /* width: 80%; */
    width: 450px;
  }
  @media (max-width: 570px) {
    /* width: 80%; */
    width: 350px;
  }
  @media (max-width: 364px) {
    /* width: 80%; */
    width: 250px;
  }
}
.pet-ass {
  position: absolute;
  width: 29%;
  right: 1%;
  top: 1%;
  @media (max-width: 1200px) {
    width: 23%;
  }
}
/* *************************************** */

/* *************************************** */
.grid-2cols {
  max-width: 132rem;
  margin: 5rem auto;
  display: grid;
  /* align-items: end; */
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding: 2rem;
  @media (max-width: 980px) {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
  }
}
.heading-secondary {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 40px;
  color: #3d4461;
  margin-top: 2rem;
}
.img-laptop-girl {
  height: 51.5rem;
}
.grid-2cols .heading-3rd {
  line-height: 50px;
}
.blue-line {
  width: 34%;
  height: 4px;
  border-radius: 4px;
  background-color: #5398ff;
  margin-bottom: 1rem;
}
.red-span {
  color: #ff5851;
}

.detail {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28px;
  color: #3d4461;
  margin-top: 1.6rem;
  margin-bottom: 3rem;
}
.new {
  border: 1px solid #ff5851;
  border-radius: 8px;
  color: #3d4461;
  padding: 1.3rem 2.6rem;
  margin-right: 1.8rem;
}
.new2 {
  background-color: #5398ff;
  border-radius: 8px;
  color: #ffffff;
  padding: 1.3rem 3.5rem;
}
.img {
  position: relative;
}
.rectangle {
  position: absolute;
  right: 28rem;
}
.paws {
  position: absolute;
  bottom: 8rem;
  right: 18rem;
}
.top {
  top: 5rem;
  right: 13rem;
}
.small {
  top: 1rem;
  right: 34rem;
}
/* ********************* */
/* ********************* */
.why {
  position: relative;
  padding: 2rem;
}

.why-img {
  /* margin-right: 10rem; */
  /* justify-self: end; */
  @media (max-width: 980px) {
    width: 50%;
  }
}
.heading-3rd {
  font-size: 4rem;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #3d4461;

  margin-top: 2rem;
  padding-bottom: 2rem;
  /* border-bottom: 4px solid #ff5851;
  border-width: 80%; */
}

.red-line {
  width: 50%;
  height: 4px;
  border-radius: 4px;
  background-color: #ff5851;
  margin-bottom: 1rem;
}
.why-text {
  align-self: flex-end;
}
.why-text img {
  margin-left: -3rem;
}
.why-text li {
  color: #3d4461;
  font-size: 1.8rem;
  line-height: 45px;
}
.btns {
  margin-top: 3rem;
}

/* .sml-img {
  position: absolute;
  top: 43rem;
  right: 100rem;
} */

/* ****************************** */
/* review section */
/* ****************************** */
.review-section {
  max-width: 192rem;
  background-color: #3d4461d6;
  /* background-image: url(/assets/bg-reviews2.png);
  background-position: center;
  background-size: cover; */

  margin-bottom: 10rem;
  margin: 10rem auto;
  padding: 4rem 2rem;
}
.layout-review {
  display: flex;
  align-items: end;
  gap: 2rem;
  /* @media (max-width: 750px) {
    grid-template-columns: 1fr 1fr;
  } */
}
.rev-head {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 63px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4rem;
}
.rev-card {
  /* padding: 2rem 2rem 10rem 2rem; */
  padding: 2rem;
  background-color: #ffffff;
  height: 650px;
  min-width: 280px; 
  border-radius: 11px;
  margin-top: 2rem;
  /* @media (max-width: 1250px) {
    height: 550px;
  }
  @media (max-width: 950px) {
    height: 530px;
  }
  @media (max-width: 750px) {
    height: 550px;
  } */
}
.card-sml {
  display: flex;
  flex-direction: column;
  height: 600px;
  border-radius: 11px;
  min-width: 280px;
  background-color: #ffffff;
  padding: 2rem;
  /* @media (max-width: 1250px) {
    height: 500px;
  }
  @media (max-width: 950px) {
    height: 500px;
  }
  @media (max-width: 750px) {
    height: 500px;
  } */
}
.error {
  align-self: center;
}
.rev-name {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 21.78px;
  color: #3d4461;
  margin-top: 2.4rem;
}
.rev-des {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #3d4461;
}
.stars {
  margin-bottom: 2rem;
  width: 5rem;
}

.review-section-scroll-button{
  position: relative;
}

.left-scroll-image{
  position: absolute;
  left: -4px;
  top: 51%;
}

.right-scroll-image{
  position: absolute;
  right: 2px;
  top: 52%;
}

/* ****************************** */
/* small container on the top of footer */
/* ****************************** */
/* .small-container {
  width: 57rem;
  height: 13rem;
  display: flex;
  justify-content: space-around;
  border-radius: 100px;
  box-shadow: 0px 20px 50px black;
  align-items: center;
  margin: -3rem auto;
  z-index: 99999999999999;
}
.small-container span {
  color: #3d4461;
  font-size: 16px;
} */

/* ****************************** */
/* footer section */
/* ****************************** */

.footer-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 192rem;
  align-items: center;
  justify-content: center;
  background-color: #3d4461;
  padding: 10rem 10rem;
  gap: 3rem;
  margin: 0 auto;
  @media (max-width: 950px) {
    grid-template-columns: 1fr 1fr;
    padding: 5rem 3rem;
    gap: 5rem;
  }
  @media (max-width: 650px) {
    grid-template-columns: 1fr 1fr;
    padding: 3rem 3rem;
    gap: 1rem;
  }
}

.logo-footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.foter-logo {
  width: 70%;
  @media (max-width: 950px) {
    width: 70%;
  }

  @media (max-width: 650px) {
    width: 50%;
  }
}
.external-link {
  font-size: 1.6rem;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.company {
  align-self: flex-end;
  @media (max-width: 950px) {
    justify-self: center;
  }
}
.company h4 {
  font-family: Roboto;
  font-size: 3rem;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
  margin-bottom: 2.4rem;
}
.company ul {
  list-style: none;
}
.company-more-info {
  /* font-family: "Roboto"; */
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.form h2 {
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin-bottom: 3rem;
}
.form input {
  font-size: 1.8rem;

  width: 100%;
  padding: 2rem;
  border-color: #bc9a6c;
  border: 1px solid;
  /* padding: 1rem 5rem 1rem 1rem; */
  height: 50px;
  margin-bottom: 1.4rem;
  border-radius: 11px;
}

.social {
  display: flex;
  gap: 2.4rem;
}

button {
  margin-top: 1.4rem;
  width: 100%;
  height: 50px;
  border-radius: 11px;
  background-color: #5398ff;
  color: #ffffff;
}

/****************************************************************** */
/****************************************************************** */
.accordian-section {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  margin: 4% 10%;
  max-width: 129rem;
}

.accordion-body {
  font-size: 1.6rem;
  color: #ff5851;
  font-style: italic;
}
.heading-secondary {
  font-size: 4.5rem;
  @media (max-width: 570px) {
    font-size: 3rem;
  }
}
.accordian-header .red-line {
  width: 25%;
}

.accordion-button {
  font-size: 16px;
}

.accordion-item {
  border: 0px;
  /* border-bottom: 1px solid #ff5851; */
}

.accordion-button:not(.collapsed) {
  color: #3d4461;
}

.accordion-button:focus {
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}
.accordian-bottom .heading-3rd {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
}
.accordian-bottom .new2 {
  width: 20%;
}

/* *************************************************** */
/* testimonaals-section */
/* *************************************************** */
.testimonal-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* gap: 5rem; */
  margin-bottom: 10rem;
  margin: 0 auto;
  max-width: 192rem;
  padding: 2rem;
  @media (max-width: 980px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.testi-imge {
  background: #5398ff68;
}
.testi-text {
  background-color: #fceed5;
  padding: 3rem 5rem;
  @media (max-width: 570px) {
    padding: 2rem 1rem;
  }
}
.testi-text .heading-secondary {
  color: #ff5851;
  font-weight: 700;
}
.testimonals .heading-3rd {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 54px;
  color: #3d4461;
}
.testi-text ul {
  margin-bottom: 3rem;
  margin-left: 4rem;
}
.testi-text li {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 27px;
  color: #ff5851;
}
.testi-text .new {
  color: #3d4461;
  border: 1px solid #3d4461;
  padding: 13px 35px;
}
.testi-text .fill-blk {
  padding: 1.3rem 3.5rem;
}

.service-provider-section-buttons {
  margin-left: 4rem;
}
.imagee {
  justify-self: center;
}
